h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.avg{
    text-align: center;
    font-size: 20px;

}

.Home{
    backgroung-color: blue;
}

.Home::after{
    content: "";
    opacity: 0.5;
    background: url("http://www.rockfordschools.org/wp-content/uploads/2017/01/PART1.jpg") repeat scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}


.genre {
    margin-left: 34%;
    float: left;
    display: inline;
    width: 25%;
    /*align: right;*/
    /*position: absolute;*/
}

.year {
    float: left;
    display: inline;
    width: 25%;
    /*align: right;*/
    /*position: absolute;*/
}

.plot {
    /*padding-left: 20px;*/
    /*padding-top: 20px;*/
    /*position: absolute;*/
    /*display: inline-block;*/
    /*float: right;*/
    /*align: right;*/
    background: pink;
    width: 50%;
    font-size: 25px;
}

.reviewTable{
    margin-left: 25%;
    width: 50%;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.reviewTable tr:nth-child(odd){
    background: lightgray;
}

.buttonDiv{
    text-align: center;
}

img {
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    margin-left: 42.25%;
    border: 2px solid black;
    /*position: center;*/
    /*position: relative;*/
    /*margin-top: auto;*/
    /*display: inline-block;*/
}