.movieTitle{
    font-size: 30px;
    font-weight: bold;
}

.searchPage{
    backgroung-color: blue;
}

.searchPage::after{
    content: "";
    opacity: 0.5;
    background: url("http://www.rockfordschools.org/wp-content/uploads/2017/01/PART1.jpg") repeat scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}